<!--suppress AngularUndefinedBinding -->
<form class="add-form" (ngSubmit)="submit()" [ngStyle]="{'display': getShowAdd() ? 'block' : 'none'}">
  <div class="form-control">
    <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Your Task...">
    <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Your Task's Day & Time...">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Remind Me!</label>
    <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
  </div>
  <div class="form-control">
    <input type="submit" class="btn btn-block" value="Add Task">
  </div>
</form>
